<nav class="navbar navbar.light bg-success">
    <div class="container-fluid">
        <h1>Leave Management Tab</h1>
        <div class="d-flex">
            <button  type="button"   data-bs-toggle="modal" data-bs-target="#exampleModal"class="btn btn-dark"><i class="bi bi-plus"></i>Pending Leaves</button>
       </div>
    </div>
</nav>
<table class="table ">
    <thead>
        <tr class="table-warning">
       
            <th scope="col">Employee_name</th>
            <th scope="col">apply_date</th>
            <th scope="col">nature_of_leave</th>
            <th scope="col">first_day</th>
            <th scope="col">last_day</th>
            <th scope="col">number_of_days</th>
            <th scope="col">status</th>
            <th scope="col">Actions</th>
        </tr>
</thead>
