<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
     
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/approved">Approved Leaves</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='/pending'>Pending Approval Leaves</a>
          </li>
        </ul>
       
      </div>
    </div>
  </nav>